
<app-pkg-panel>
  <span *ngFor="let pkg of pkgs" (click)="onSelect(pkg)" title="{{pkg.name}}">{{pkg.name}}</span>

</app-pkg-panel>

<hr>

<table>
  <td *ngFor="let pkg of pkgs" (click)="onSelect(pkg)" [class.selected]="pkg === selectedPkg">{{pkg.name}}</td>
</table>

<br /><br />{{selectedPkg.name}}
<br /> {{selectedPkg.price}}


<div *ngIf="selectedPkg">
  <label>Pkg selected:
    <input [(ngModel)]="selectedPkg.name" placeholder="name">
  </label>
</div>

<app-sections [pkg]="selectedPkg"></app-sections>
