
<br />
<table>
  <td *ngFor="let section of sections" (click)="onSelect(section)" [class.selected]="section === selectedSection">{{section.name}}</td>
</table>

<table>
  <td *ngFor="let genre of selectedSection.genres" (click)="updateGenre(genre)" [class.selected]="genre === selectedGenre">{{genre}}</td>
</table>


<ul>
  <li *ngFor="let channel of channels">{{channel.displayname}}</li>
</ul>
<!--<app-genres [section]="selectedSection"></app-genres>-->
